input{
    
    padding: 10px;
    width: 40%;
}
.box {
    border-radius: 4px;
    border: none;
    padding: 15px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);

}  
.btn{
    width: 100px; 
    background-color: rgb(255, 145, 0);
    color: white;
}
.container{
    display: flex;
    gap: 3px;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 5%;
}
.instent-show{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.food-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.card{
    border: 1px solid gray;
    border: none;
    border-radius: 7%;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
}
.card-img{
    border-radius: 7%;
    width: 250px;
    height: 70%;
}
.food-name{
    color: rgb(240, 39, 190);
}
.instent-show{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


.ingre{
    text-align: left;
    margin-bottom: 5px;
}
.pg li{
    text-align: left;
    margin-bottom: 2px;
    font-size: 14px;
    
}
.card2{
    height: 500px;
    width: 300px;
    text-align: left;
    border: 1px solid gray;
    border: none;
    border-radius: 7%;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);  
}
.card-img2{
    border-radius: 7%;
    width: 300px;
    height: 40%;
}
.food-name2{
    color: rgb(240, 39, 190);
    margin-bottom: -15px;
}